html{
    font-size: 62.5%;
}

body{
    display: grid;
    grid-template-areas: "header header header header"
                         "hero hero hero hero"
                         "sobre sobre sobre sobre"
                         "projetos projetos projetos projetos"
                         "footer footer footer footer";
    grid-template-columns: repeat(4, 1fr);
    font-size: 1.6rem;
    font-family: 'Roboto' , sans-serif;
    font-weight: 400;
}

/* HEADER */

.header{
    grid-area: header;
}

.header .header-container{
    background-color: lightgray;
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
}

.header h1{
    font-size: 3rem;
    font-weight: 700;
    transition: 0.4s;
}

.header a:hover h1{
    color: #fff;
}


/* HERO */

.hero{
    grid-area: hero;
    height: 89vh;
    background: url(../images/Design\ sem\ nome_20240216_183217_0000.png) center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.hero:after{
    content: url(../images/seta_preta.png);
    position: absolute;
    height: 35px;
    bottom: 40px;
    animation: downarrow 0.6s alternate infinite ease-in-out;
}

@-webkit-keyframes downarrow {
    0% {
        -webkit-transform: translateY(0);
        opacity: 0.4;
    }

    100%{
        -webkit-transform: translateY(0.4em);
        opacity: 0.9;
    }
}

@media (max-width: 425px){
    .hero{
        height: 60vh;
    }

    .hero h2{
        font-size: 2.5rem;
    }
}
/* ABOUT */

.sobre{
    grid-area: sobre;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: lightgray;
    max-width: var(--max-width-size);
    margin: 0 auto;
}

.sobre .item{
    padding: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.sobre .item h3{
    font-weight: 700;
    font-size: 3.3rem;
}

.sobre .item p{
    font-size: 1.8rem;
    font-weight: 400;
    padding: 30px 0px;
}

.sobre .imagem{
    height: 100%;
    width: 100%;
}

.sobre .imagem.direita{
    background: url(../images/20240216_150520_0000.png) center center no-repeat;
    background-size: cover;
    border-radius: 5%;
}

.sobre .imagem.esquerda{
    background: url(../images/20240216_150608_0000.png) center center no-repeat;
    background-size: cover;
    border-radius: 5%;
}

@media (max-width: 425px){
    .sobre .item{
        text-align: center;
    }

    .sobre{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}

/* PROJECTS */

.projetos{
    grid-area: projetos;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.projetos img{
    height: 100%;
    width: 100%;
    transition: 0.4s;
}

.projetos a:hover img{
    opacity: 0.7;
}

@media (max-width: 768px){
    .projetos{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media (max-width: 425px){
    .projetos{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

/* FOOTER */

.rodape{
    grid-area: footer;
    display: flex;
    background-color: lightgray;
    flex-direction: column;
    text-align: center;
    padding: 100px 0px;
}

.rodape h4{
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 25px;
}

.rodape nav{
    margin: 50px 0px;
}

.rodape nav ul{
    display: flex;
    justify-content: center;
    max-width: 320px;
    margin: 0 auto;
}

.rodape nav ul li a{
    font-weight: 500;
    font-size: 1.8rem;
    margin: 30px;
    transition: 0.3s;
}

.rodape nav ul li a:hover{
    font-weight: 700;
    color: #fff;
}

.rodape .social i{
    font-size: 3rem;
    transition: 0.4s;
}

.rodape .social a{
    margin: 20px;
}

.rodape .social a:hover{
    color: #fff;
}